@model Contact



<i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">@Model.Email</a></i>
<i class="bi bi-phone d-flex align-items-center ms-4"><span>@Model.Phone</span></i>